n8n-workflows/AI Receipe generator.json
{
  "name": "AI Recipe Generator - Simplified",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "24ccdc71-4b9c-43dc-b203-8d7569b24910",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bba17fe3-1b2c-4bd6-84a7-2bb66fa38d5b",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [640, 5104],
      "webhookId": "24ccdc71-4b9c-43dc-b203-8d7569b24910"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ingredients",
              "value": "={{$json.body[\"Available Ingredients\"]}}"
            },
            {
              "name": "dish_name", 
              "value": "={{$json.body[\"Meal Name\"]}}"
            },
            {
              "name": "dietary_restrictions",
              "value": "={{$json.body[\"Dietary Restrictions\"] || \"\"}}"
            },
            {
              "name": "servings",
              "value": "={{$json.body[\"Number of Servings\"] || 4}}"
            },
            {
              "name": "request_id",
              "value": "={{$json.body[\"request_id\"] || $now}}"
            },
            {
              "name": "user_input",
              "value": "Plat: {{$json.body[\"Meal Name\"]}} avec ingrédients: {{$json.body[\"Available Ingredients\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "55f85292-4b89-4a23-91f1-11abd748d230",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [800, 5104]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XcLzXeB7hUWD_0hagnIsvEQ-qX4fXwnvD_wk_A3omW4",
          "mode": "list",
          "cachedResultName": "RecipeHistory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XcLzXeB7hUWD_0hagnIsvEQ-qX4fXwnvD_wk_A3omW4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XcLzXeB7hUWD_0hagnIsvEQ-qX4fXwnvD_wk_A3omW4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$json[\"request_id\"]}}",
            "RequestType": "recipe_generation",
            "UserInput": "={{$json[\"user_input\"]}}",
            "DishName": "={{$json[\"dish_name\"]}}",
            "Ingredients": "={{$json[\"ingredients\"]}}",
            "DietaryRestrictions": "={{$json[\"dietary_restrictions\"]}}",
            "Servings": "={{$json[\"servings\"]}}",
            "Status": "Processing"
          }
        },
        "options": {}
      },
      "id": "8768de49-97b8-407a-b49b-c8834c4450d6",
      "name": "Log Request to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [960, 5104],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z0U2LzskiYYrUMDj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ai_prompt",
              "value": "=Créez une recette complète de {{$json.dish_name}} avec les ingrédients disponibles: {{$json.ingredients}}. \n\nInstructions:\n- Créez un titre accrocheur\n- Listez tous les ingrédients nécessaires (en plus de ceux fournis)\n- Donnez les étapes détaillées de préparation\n- Adaptez pour {{$json.servings}} personnes\n- Tenez compte des restrictions: {{$json.dietary_restrictions}}\n- Ajoutez des conseils de chef camerounais\n\nFormat: Markdown avec émojis"
            }
          ]
        },
        "options": {}
      },
      "id": "ba7753a1-8e5b-4ca5-8f10-fe639b95bd3c",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1120, 5104]
    },
    {
      "parameters": {
        "text": "={{$json.ai_prompt}}",
        "options": {
          "systemMessage": "Tu es ChefIA, un expert culinaire camerounais. Crée des recettes détaillées et authentiques de la cuisine camerounaise. Inclus le titre, la liste des ingrédients, les étapes de préparation détaillées et des conseils de chef. Utilise un format markdown avec des émojis pour rendre la recette attrayante.",
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "id": "5d7f26ce-e94a-4e60-8afd-55335095d5e6",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [1280, 5104]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "recipe_title",
              "value": "=Recette {{$json.dish_name}} - ChefIA"
            },
            {
              "name": "recipe_content",
              "value": "={{$json.text || $json.output || $json.response}}"
            },
            {
              "name": "generated_at",
              "value": "={{$now}}"
            },
            {
              "name": "ingredients_used",
              "value": "={{$json.ingredients}}"
            },
            {
              "name": "dish_requested",
              "value": "={{$json.dish_name}}"
            },
            {
              "name": "servings",
              "value": "={{$json.servings}}"
            },
            {
              "name": "request_id",
              "value": "={{$json.request_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "aad56721-ecf2-498d-89bc-c2161c415129",
      "name": "Format Recipe Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1440, 5104]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XcLzXeB7hUWD_0hagnIsvEQ-qX4fXwnvD_wk_A3omW4",
          "mode": "list",
          "cachedResultName": "RecipeHistory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XcLzXeB7hUWD_0hagnIsvEQ-qX4fXwnvD_wk_A3omW4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XcLzXeB7hUWD_0hagnIsvEQ-qX4fXwnvD_wk_A3omW4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$json[\"request_id\"]}}",
            "RequestType": "recipe_generation",
            "UserInput": "={{$json[\"user_input\"]}}",
            "DishName": "={{$json[\"dish_requested\"]}}",
            "Ingredients": "={{$json[\"ingredients_used\"]}}",
            "RecipeTitle": "={{$json[\"recipe_title\"]}}",
            "RecipeContent": "={{$json[\"recipe_content\"]}}",
            "GeneratedAt": "={{$json[\"generated_at\"]}}",
            "Servings": "={{$json[\"servings\"]}}",
            "Status": "Completed"
          }
        },
        "options": {}
      },
      "id": "ee19fa48-255d-4aa5-b36e-9e93b68634f7",
      "name": "Save Recipe to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1600, 5104],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z0U2LzskiYYrUMDj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "message",
              "value": "Recette générée avec succès"
            }
          ],
          "object": [
            {
              "name": "final_response",
              "value": "={\n  \"recipe_title\": \"{{$json.recipe_title}}\",\n  \"recipe_content\": \"{{$json.recipe_content}}\",\n  \"generated_at\": \"{{$json.generated_at}}\",\n  \"request_id\": \"{{$json.request_id}}\",\n  \"dish_name\": \"{{$json.dish_requested}}\",\n  \"ingredients\": \"{{$json.ingredients_used}}\",\n  \"servings\": {{$json.servings}},\n  \"processing_time\": \"{{$executionTime}}ms\",\n  \"ai_model\": \"OpenRouter GPT-OSS\",\n  \"specialization\": \"Cuisine Camerounaise\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "d376f936-88e0-4b08-a491-d4e14bfd17a8",
      "name": "Prepare User Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1760, 5104]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "5e0ddf30-7235-4d2d-8929-b8e278fc7cb7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1920, 5104]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "id": "53c1be4c-dba0-435f-8271-664cbf480688",
      "name": "ChatGPT OSS",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [1280, 5200],
      "credentials": {
        "openRouterApi": {
          "id": "mJYBEjoa3bYekCHO",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Log Request to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Request to Sheets": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Recipe Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Recipe Output": {
      "main": [
        [
          {
            "node": "Save Recipe to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Recipe to Sheets": {
      "main": [
        [
          {
            "node": "Prepare User Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT OSS": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "simplified-recipe-generator",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93ace94098d9f9dd844138bcf4397e622c6ea8d222af8db31040119d08e72bcf"
  },
  "id": "StM5PXiEZvjWDdGE",
  "tags": []
}